@import url('https://fonts.googleapis.com/css?family=PT+Sans|Quicksand');

* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    font-family: "Quicksand";
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1400px;
}